body {
    background-color: rgb(200, 228, 253);
}

header {
    background-color: white;
    /*position: fixed;  iza bde yeha senbte */
    width: 100%;
    margin-top: 0%;
    height: 70px;
    
    /*box-shadow: 0 0 25px 0 black;*/
}
header * {
    
    display:inline-block;
}
nav{
    margin-top: 0%;
}

h1 {

    color: rgb(40, 92, 235);
    font-family: Lucida Handwriting;
   

}

.div2 h1 {
    left: 0;
    margin: 0;
    padding-left: 10px;
    right: 0;
   
    color: rgb(40, 92, 235);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.search input[type=text] {
    width: 250px;
    height: 30px;
    border-radius: 35px;
    padding-left: 2%;
    border: grey;
    background-color: rgb(224, 218, 218);
    border: 1px grey;
    

}

.search {
    margin: 7px;


}


.logo {
    color: white;
    text-decoration: none;
    text-align: left;
    border-radius: 15px;
    overflow: hidden;
    display: inline;
}

.logo {
    width: 8%;
    padding-left: 12px;
    padding-top: 1%;
}

.div1 {
    width: 20%;
    height: 400px;
    float: left;
    background: white;
    margin-top: 3%;
    border-radius: 20px;
}

.btn-group button {
    background-color: white;
    text-align: left;
    padding-left: 2%;
    border: none;
    color: black;
    /* White text */
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    width: 100%;
    height: 50px;
    border-radius: 10px;
    direction: ltr;
    display: block;
    /* Make the buttons appear below each other */
    text-shadow: 2px 2px 4px grey;
}

.btn-group button:not(:last-child) {
    border-bottom: none;
    /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: rgb(222, 228, 222);
}

.btn-group2 button {
    background-color: white;
    border: none;
    
    color: grey;
    /* White text */
    padding: 20px 44px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-top: 55%;
    display: block;
    /* Make the buttons appear below each other */
}

.btn-group2 button:not(:last-child) {
    border-bottom: none;
    /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group2 button:hover {
    background-color: rgb(222, 228, 222);
}


.div2 {
    width: 30%;
    height: 670px;
    float: left;
    background: white;
    margin-top: 3%;
    margin-left: 15%;
    border-radius: 20px;
}

.div2 h1 {
    left: 0;
    right: 0;
    margin: 4%;
    display: flex;
    color: black;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div2 h2 {
    left: 0;
    right: 0;
    padding-left: 6%;
    display: flex;
    font-size: small;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.div3 {
    width: 20%;
    height: 450px;
    float: left;
    background: white;
    margin-top: 3%;
    margin-left: 15%;
    border-radius: 20px;
    font-size: x-small;
    color: gray;
    font-family: sans-serif;
}
.div3 h2 {
    left: 0;
    right: 0;
    padding-left: 7%;
    
    margin-top: 7%;
    display: flex;
    font-size: small;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image-user {
    width: 6%;
    padding-left: 12px;
    padding-top: 1%;
    border-radius: 25px;
    padding-right: 5%;
}
.image-user2 {
    width: 15%;
    padding-left: 12px;
    padding-top: 1%;
    border-radius: 25px;
    padding-right: 5%;
}
.image-out {
    width: 15%;
    padding-left: 7px;
    padding-right: 3px;
    padding-top: 1%;
    border-radius: 25px;
}
.image-pro {
    width: 3%;
    padding-left: 7px;
    padding-right: 15px;
    float: right;
    padding-top: 1%;
    border-radius: 25px;
}