body {
    background-color: rgb(200, 228, 253);
}

/*header css  */
header {
    background-color: white;

    width: 100%;
    margin-top: 0%;
    height: 70px;

    /*position: fixed;  iza bde yeha senbte */
    /*box-shadow: 0 0 25px 0 black;*/
}

header * {

    display: inline-block;
    /*display of header */
}

/*nav inside header */
nav {
    margin-top: 0%;
}

/*h1 "hangout"*/
h1 {

    color: rgb(40, 92, 235);
    font-family: Lucida Handwriting;


}


/*Search input text inside */
.search input[type=text] {
    width: 250px;
    height: 30px;
    border-radius: 35px;
    padding-left: 2%;
    border: grey;
    background-color: rgb(224, 218, 218);
    border: 1px grey;


}

/*button search margin */
.search {
    margin: 7px;


}

/*logo image  */
.logo {
    width: 8%;
    padding-left: 12px;
    padding-top: 1%;
    border-radius: 15px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------" */

/*div1 home cat setting on left  */
.div1 {
    width: 20%;
    height: 400px;
    float: left;
    background: white;
    margin-top: 3%;
    border-radius: 20px;
}

/*div1 home cat setting on left buttons  */
.btn-group button {
    background-color: white;
    text-align: left;
    padding-left: 2%;
    border: none;
    color: black;
    cursor: pointer;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    direction: ltr;
    display: block;
    text-shadow: 2px 2px 4px grey;
}

.btn-group button:not(:last-child) {
    border-bottom: none;
}

/*Div1  button on hover */
.btn-group button:hover {
    background-color: rgb(222, 228, 222);
}

/*Div1 signout button  */
.btn-group2 button {
    background-color: white;
    border: none;
    color: grey;
    padding: 20px 44px;
    cursor: pointer;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-top: 55%;
    display: block;
}

.btn-group2 button:not(:last-child) {
    border-bottom: none;
}

/*Div1 signout button hover  */
.btn-group2 button:hover {
    background-color: rgb(222, 228, 222);
}


/*-----------------------------------------------------------------------------------------------------------------------------------" */


/*Div2 settings on center  */
.div2 {
    width: 30%;
    height: 670px;
    float: left;
    background: white;
    margin-top: 3%;
    margin-left: 15%;
    border-radius: 20px;
}

/*Div2 h1"settings" */
.div2 h1 {
    left: 0;
    right: 0;
    margin: 4%;
    display: flex;
    color: black;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Div2 h1"general,acc,others" */
.div2 h2 {
    left: 0;
    right: 0;
    padding-left: 6%;
    display: flex;
    font-size: small;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*-----------------------------------------------------------------------------------------------------------------------------------" */

/*Div3 friends */
.div3 {
    width: 20%;
    height: 450px;
    float: left;
    background: white;
    margin-top: 3%;
    margin-left: 15%;
    border-radius: 20px;
    font-size: x-small;
    color: gray;
    font-family: sans-serif;
}

/*Div3 h2"friends" */
.div3 h2 {
    left: 0;
    right: 0;
    padding-left: 7%;

    margin-top: 7%;
    display: flex;
    font-size: small;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*-----------------------------------------------------------------------------------------------------------------------------------" */

/*Div1 image all buttons home-cat-sett-profile */
/*Div2 image all buttons genral-acc-other */
.image-user {
    width: 6%;
    padding-left: 12px;
    padding-top: 1%;
    border-radius: 25px;
    padding-right: 5%;
}

/*Div3 image all friends */
.image-user2 {
    width: 15%;
    padding-left: 12px;
    padding-top: 1%;
    border-radius: 25px;
    padding-right: 5%;
}

/*Div1 image signout */
.image-out {
    width: 15%;
    padding-left: 7px;
    padding-right: 3px;
    padding-top: 1%;
    border-radius: 25px;
}

/*header-nav image profile(user) */
.image-pro {
    width: 3%;
    padding-left: 7px;
    padding-right: 15px;
    float: right;
    padding-top: 1%;
    border-radius: 25px;
}