body{
    background-color: #E8F1FA;
    margin: 0;
    padding: 0;
}
/* Nab Bar Style */

nav{
    background-color: white;
    height: 4.5rem;
    z-index: 1;
    width: 100%;
    top: 0;
}

#btn{
    background-color: lightblue;
}
.form-control{
    width: 400px;
    margin-right: 5px;
    margin-left: 10px;
}

.nav-image{
    border-radius: 50%;
    width: 75px;
    height: 50px;
}
#navbarsExample04{
    margin-left: 200px;
}
#item-container{
position: relative;
left: 10%;
align-items: center;
}
.btn1,.btn2{
    color: white;
    border-radius: 20px;
    margin-left: 10px;
    background-color: #0055FF;
    border: transparent;
    padding: 10px;
}
.nav-link {
    color: white;
    border-radius: 20px;
    margin-left: 10px;
}
.nav-link1{
  text-decoration: none;
  margin-left: 10px;
  margin-top: 35px;
}
.nav-link1 svg{
  margin-right: 5px;
}






/* content Layout */

.page-container{
display: grid;
grid-template-columns: 20% 55% 22%;
grid-template-areas:
      "sidebar content friendlist";
margin-top: 6rem;
position: relative;
}

/* Side Bar */

.dropdown-container{
    margin-top: 10px;
    grid-area: sidebar;
    position: absolute;
    height: fit-content;
    width: 90%;
    background-color: white;
    border-radius: 8px;
    margin-left: 5px;
    z-index: 1;
}

.dropdown-container span{
margin-left: 5px;
}
.rotate{
    transform: rotate(90deg);
}
.dropdown-container ul li {
    margin: 20px 10px 0 10px;
}
@media screen and (max-width: 700px) {


  .dropdown-container{
    grid-area: content;
      bottom: 0%;
      width: 100%;
      position: fixed;
      border: 1px solid lightgrey;
      height: 65px;
      margin-left: 0;
      left: 0;
  }


  .mb-1 button svg{
    margin-left: 0;
    margin-right: 0;
   
  }
  #car-logo{
    transform: translate(-30px,-6px);
  }

.dropdown-container span{
  display: none;
}
.dropdown-container li svg{
  margin-right: 15px;
}
  .dropdown-container>h4{
   display: none;
  }
.dropdown-container>ul{
  justify-content: space-between;
  display: flex;
}
.dropdown-container>li{
  font-size: small;
}

}



/* Middle container */

.content-container{
    display: grid;
    grid-area: content;
    margin-left: 1.5rem
}


/* carousel Story */



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
.wrapper {
    max-width: 655px;
    position: relative;
  }
  .wrapper i {
    
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) );
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .carousel .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
  
  @media screen and (max-width: 550px) {
    .wrapper,.carousel  {
        width: 100%;
        grid-auto-columns: 23%;
    }
    .card .img img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        object-fit: cover;
        border: none;
      }
      .carousel .card {
        scroll-snap-align: start;
        height: 142px;
        list-style: none;
        background: none;
        border: none;
        cursor: pointer;
        padding-bottom: 15px;
        flex-direction: column;
        border-radius: 8px;
      }
      .carousel .card span {
      display: none;
      
        
      }
      .carousel .card h2 {
        font-weight: 500;
        font-size: .8rem;
        margin: 30px 0 5px;
        display: none;
      }
      .carousel .card .img {
        border: 1px solid red;
        background: #8B53FF;
        height: 75px;
        width: 75px;
        border-radius: 50%;
        
      }
      ul{
        width: 549px;
        margin: 0;
      }
   
  }
  
  

/* Create Post Section */

.create-post{
    position: relative;
    background: white;
    width: 90%;
    height: 500px;
    border-radius: 25px;
}
.h5-post{
    color: gray;
    margin-left: 2rem;
    font-size: large;
}
.post-img{
    width: 110px;
    height: 110px;
    margin-top: 2rem;
    border-radius: 50%;
    object-fit: cover;
    background: lightgray;
}
.post-content{
    position: relative;
    color: black;
    width: 90%;
    height: 50%;
    margin: 3rem 0 3rem 3rem;
    border: 1px solid lightgray;
    border-radius: 25px;
}
.header{
    display: flex;
    align-items: center;
    margin: 3rem 0 3rem 3rem;
}
.field-img{
    width: 110px;
    height: 110px;
    margin: 2rem 0 2rem 2rem;
    border-radius: 50%;
}
.field-btn{
    position: absolute;
    right: 10%;
    bottom: 5%;
    color: #0055FF;
    border: 1px solid #0055FF;
    background: transparent;
    padding: 1rem;
    border-radius: 25px;
    transition: all ease 400ms;
}
.field-btn:hover{
background: #0055FF;
border: transparent;
color: white;
}


/* Fisrt Post*/

.first-post{
    height: 400px;
    width: 90%;
    border-radius: 25px;
    margin-top: 2rem;
    background-color: white;
}
.posts-img{
    height:130px;
    width: 130px;
    border-radius: 50%;
}
.posts-img-btn{
    margin: 2rem 0 0 2rem;
}
.posts-header{
    display: flex;
    align-items: center;
}

.posts-text{
    color: black;
    margin-left: 2rem;
}
.posts-btn{
    margin-left: 25rem;
    font-weight: bolder;
    border: transparent;
    background-color: transparent;
}

.posts-content{
    margin-left:2rem ;
    margin-top: 2rem;
    width: 75%;
}
.posts-footer{
    display: flex;
    margin-left: 2rem;
    margin-top: 4rem;
}
.footer-text1,.footer-text2,.footer-text3{
    font-weight: bold;
    margin: 0;
    margin-left: 1.5rem;
    border: 1px solid #0055FF;
    background: white;
    color: #0055FF;
    border-radius: 25px;
    transition: all ease 400ms;
}
.footer-text1:hover,.footer-text2:hover,.footer-text3:hover{
    border: transparent;
    background-color: #0055FF;
    color: white;
}



/* Second post container */
.second-post{
    height: 600px;
    width: 90%;
    background-color: white;
    border-radius: 25px;
    margin-top: 2rem;
}

.posts-images-container{
    display: flex;
}
.posts-img1,.posts-img2,.posts-img3{
width: 32%;
height: 180px;
margin: 0 1% 0 1%;
border-radius: 25px;
}
@media (max-width:600px) {
    
    .page-container{
        grid-template-columns: 1fr;
        width: 100%;
    }
    
    .content-container{
        width: 100%;
        margin-left: 0;
    }
    
    #item{
        margin-left: 5rem;

    }
    .nav-item{
        margin-bottom: 1rem;
        margin-top: 0.2rem;
    }
    
    .btn1,.btn2{
        background-color: transparent;
        color: #0055FF;
    }
    #item-container{
      align-items: flex-start;
    }
    .nav-link{
        color: #0055FF;
    }
    .nav-link:hover{
        color: #0055FF;
    }
    .form-control{
        width: 240px;
        transform: translateX(1rem);
        
    }
    .navbar ul{
        width: 240px;
        background-color: white;
    }
    .container-fluid{
        z-index: 1;
    }
    .create-post,.first-post,.second-post{
        width: 100%;
        height: fit-content;
    }
    .posts-footer{
        margin-bottom: 1.5rem;
    }
    .posts-btn{
        margin-left: 15rem;
    }
}


/* Freind List Style */
.friendlist-container{
  position: relative;
  grid-area: friendlist;
  background-color: white;
  width: 100%;
  height: 400px;
  padding: 20px;
  border-radius: 15px;
  margin-left: 0;
  margin-right: 0;
}
.friendlist-container h1,.friendlist-container h3{
  color:  #0055FF;
}
.friendlist-container button{
  position: absolute;
  padding: 0.5rem;
  background-color: #0055FF;
  border: transparent;
  border-radius: 10px;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}
.friendlist-container button:hover{
  background-color: white;
  border: 0.5px solid #0055FF;
}
.friendlist-container button:hover a{
  color: #0055FF;
}
.friendlist-container a{
  text-decoration: none;
  color: white;
}
@media (max-width:740px){
  .friendlist-container{
    display: none;
  }
}



/*Comments*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);

}

.modal-content {
  background: linear-gradient(45deg,rgba(255, 255, 255, 0.658),rgb(192, 212, 228),rgb(231, 231, 231));
width: 900px;
height: 80%;
  margin: 2% auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.tab-navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  border-bottom: 1px solid #ddd;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  font-weight: bold;
  color: #777;
  transition: color 0.3s ease-in-out;
}

.tab.active {
  color: #333;
  border-bottom: 2px solid #333;
}

.tab-content {
  margin-top: 20px;
  overflow-y:auto;
  overflow-x: hidden;
  height: 80%;
  width: 100%;

}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}


.comment{
  font-weight: bold;
}


.user{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform:translateX(10px) translateY(20px);
  margin: 4px 0 0 5px ;

}
.usericon{
  margin-bottom: 1rem;
  width: 45px;
  height: 45px;

  box-shadow: -1px 1px rgba(255, 255, 255, 0.219);

  background: linear-gradient(rgb(0, 0, 228),red);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.075));
  border-radius: 22.5px;
}
.username{
  width: 107px;
  height: 45px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 14px;
  color: #212529;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.075));




}

.commentForm{
  display: flex;
  margin-right: 5px;
}
.ic{
  width: 50%;
  margin:1px;
}
.comments{
  border-bottom:1px solid #ddd ;
}




/* For webkit-based browsers */
::-webkit-scrollbar {
width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
background-color: #f1f1f1; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
background-color: #888; /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
background-color: #555; /* Color of the scrollbar thumb on hover */
}